@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

/*	################################################################# */

* {
  margin: 0;
  padding: 0;
  outline: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #F7F9F9;
  color: #282C34;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto !important;
  height: 100%;
  line-height: 1.6em;
  min-height: 100%;
}

a {
  color: #282C34;
  text-decoration: none;
  position: relative;
}

.center > a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #282C34;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.center > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

h2 {
  color: rgb(34,34,34);
  font-size: 2em;
  font-weight: 300;
  margin: 40px 0 40px 0;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
}

.logo {
  margin: 70px 0px 0px 0px;
  text-align: center;
}

.logo img {
  height: 40px;
}

.login {
  margin: auto; /*aligns center*/
  padding: 20px 60px 20px 20px;
  width: 550px;
  overflow: hidden;
}

.center {
  text-align: center;
}

#password {
  overflow: hidden;
}

#mfa {
  float: right;
}

form.minimal input[type="text"],
form.minimal input[type="password"] {
  background-color: rgb(255,255,255);
  border: none;
  outline: none;
  display: block;
  float: none;
  font-family: "Lato";
  font-size: 16px;
  padding: 20px;
  text-shadow: 0 1px 1px rgba(255,255,255,1);
  width: 100%;

  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

form.minimal input[type="text"]:focus,
form.minimal input[type="email"]:focus,
form.minimal input[type="password"]:focus,
form.minimal select:focus {
  background: #DAEFF3;
  color: #000000;
}

form.minimal input[type="submit"] {
   background-color: #2FA8B9;
   display: block;
   float: none;
   font-family: "Lato";
   font-size: 16px;
   padding: 20px;
   width: 100%;

   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   -o-transition: all 0.1s linear;
     transition: all 0.1s linear;
}

 form.minimal input[type="submit"]:hover {
   background-color: #4AC1D2;
   color: #000000;
 }

/*BUTTON DESIGN*/
[class*='btn-'] {
	border: none;
	color: #000;
	display: inline-block;
	font: -webkit-small-control;
	font-size: 16px;
	padding: 20px 50px 21px 50px;
	text-decoration: none;

	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	  transition: all 0.1s linear;
}

.btn-minimal {
	background-color: #FF9379;
	color: #000000;
}

.btn-minimal:hover {
	color: #000000;
	cursor: pointer;
}

.green-mfa {
   background-color: #AEDAA5;
   color: #000000;
}
